<?xml version="1.0"?>

<configuration xmlns="urn:newrelic-config" xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <service licenseKey="$OctopusVariable.NewRelicLicenseKey" xdt:Transform="SetAttributes"/>
  <application xdt:Transform="Replace">
    <name>$OctopusVariable.NewRelicApplicationName1</name>
    <name>$OctopusVariable.NewRelicApplicationName2</name>
  </application>
</configuration>