<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Autofac" version="3.1.5" targetFramework="net45" />
  <package id="Autofac.Extras.DynamicProxy2" version="3.0.2" targetFramework="net45" />
  <package id="Autofac.Extras.NHibernate" version="3.0.0" targetFramework="net45" />
  <package id="AutoMapper" version="2.2.1" targetFramework="net45" />
  <package id="BpeProducts.Common.Authorization" version="1.0.42" targetFramework="net45" />
  <package id="BpeProducts.Common.Exceptions" version="1.0.20" targetFramework="net45" />
  <package id="BpeProducts.Common.Ioc" version="1.0.42" targetFramework="net45" />
  <package id="BpeProducts.Common.Log" version="1.0.20" targetFramework="net45" />
  <package id="BpeProducts.Common.NHibernate" version="1.0.76" targetFramework="net45" />
  <package id="BpeProducts.Common.Redis" version="1.0.23" targetFramework="net45" />
  <package id="BpeProducts.Services.Assessment.Contract" version="0.1.173" targetFramework="net45" />
  <package id="BpeProducts.Services.Asset.Contracts" version="0.1.112" targetFramework="net45" />
  <package id="BpeProducts.Services.Authorization.Contract" version="0.1.414" targetFramework="net45" />
  <package id="BpeProducts.Services.Section.Contracts" version="0.1.264" targetFramework="net45" />
  <package id="Castle.Core" version="3.2.1" targetFramework="net45" />
  <package id="EventStore" version="3.0.11326.44" targetFramework="net45" />
  <package id="EventStore.Logging.Log4Net" version="3.0.11326.44" targetFramework="net45" />
  <package id="EventStore.Serialization.Json" version="3.0.11326.44" targetFramework="net45" />
  <package id="FluentNHibernate" version="1.3.0.733" targetFramework="net45" />
  <package id="Iesi.Collections" version="3.2.0.4000" targetFramework="net45" />
  <package id="log4net" version="2.0.2" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Client" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.Core" version="5.0.0" targetFramework="net45" />
  <package id="Microsoft.AspNet.WebApi.OData" version="4.0.30506" targetFramework="net45" />
  <package id="Microsoft.Data.Edm" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Data.OData" version="5.2.0" targetFramework="net45" />
  <package id="Microsoft.Net.Http" version="2.0.20710.0" targetFramework="net45" />
  <package id="Newtonsoft.Json" version="4.5.11" targetFramework="net45" />
  <package id="NHibernate" version="3.3.3.4001" targetFramework="net45" />
  <package id="NHibernate.Caches.Redis" version="1.2.1.0" targetFramework="net45" />
  <package id="NHibernate.OData" version="0.3.0.0" targetFramework="net45" />
  <package id="ServiceStack.Common" version="3.9.70" targetFramework="net45" />
  <package id="ServiceStack.Redis" version="3.9.70" targetFramework="net45" />
  <package id="ServiceStack.Text" version="3.9.70" targetFramework="net45" />
  <package id="System.Spatial" version="5.2.0" targetFramework="net45" />
</packages>
