<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="specFlow" type="TechTalk.SpecFlow.Configuration.ConfigurationSectionHandler, TechTalk.SpecFlow" />
  </configSections>
  <specFlow>
    <!-- For additional details on SpecFlow configuration options see http://go.specflow.org/doc-config -->
  </specFlow>
  <connectionStrings>
    <add name="DefaultConnection" providerName="System.Data.SqlClient" connectionString="Data Source=(localdb)\v11.0;Integrated Security=True" />
  </connectionStrings>
  <appSettings>
    <add key="RedisHost" value="10.14.0.93" />
    <add key="IdentityIssuerThumbprint" value="D8735924654A4D9BE003E437B3AA0A0A5E970F87" />
    <add key="IdentityIssuerName" value="http://identityserver.v2.thinktecture.com/trust/changethis" />
    <add key="IdentityAudienceUri" value="urn:ExampleWeb" />
    <add key="TestHostBaseAddress" value="https://localhost/"/>
  </appSettings>
</configuration>