<?xml version="1.0"?>
<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
  Notes:
        In Octopus define new variables and connection string values for "ConnStrParabola".
        
        The connection string values in these variables must use the OctopusDeploy user for authentication.
        The OctopusDeploy user must have data reader, data writer, and ddl admin database role permissions on the databases defined in the Octopus variable (ConnStrParabola) connection string values.
  -->
  <connectionStrings>
    <add name="Parabola" connectionString="$OctopusVariable.ConnStrParabola" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </connectionStrings>
</configuration>
