<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--  
  Notes:
        The "name" of the connection string MUST match the folder name under the Databases directory.
        This does not mean that the actual name of the database needs to match the connection string name or the folder name.
        
        See the ConnectionStrings.Release.config transform file for information on Octopus variables and connection string values. 
  -->
  <connectionStrings>
    <add name="Parabola" connectionString="DefaultValue"/>
  </connectionStrings>
</configuration>




